body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: tomato;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.link-box {
    padding: 20px;
    padding-top: 30px;
    background-color: lightsalmon;
    width: 150px;
    border: 5px solid firebrick;
    height: 100px;
    text-align: center;
    margin-left: 5px;
}

.header-link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.pages {
    min-height: 100vh;
    background-color: darkorchid;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}